:root {
    --main-height: 100vh 
}

#section {
    height: var(--main-height);
    scroll-snap-align: center;
}

@media only screen and (max-width: 768px) {
    #section {
        height: 200vh;
    }
}

/* navigation */

#nav-section {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    #nav-section {
        width: 100%;
        padding: 10px;
    }

}

#container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

#links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.list-items {
    display: flex;
    gap: 20px;
    list-style: none;
}

.item {
    cursor: pointer;
}

#logo {
    height: 50px;
}

#icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

#search {
    width: 20px;
    cursor: pointer;
}

#hire-now {
    width: 100px;
    padding: 10px;
    background-color: #da4ea2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* hero component */

.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.hero-container {
    height: var(--main-height);
    /* height: 100%; */
    scroll-snap-type: center;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .hero-container, #left-hero, #right-hero {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#left-hero {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.title {
    font-size: 74px;
}

@media only screen and (max-width: 768px) {
    .title {
        text-align: center;
    }
}

#whatwedo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#line {
    height: 5px;
}

@media only screen and (max-width: 768px) {
    #line {
        display: none;
    }
}

#subtitle {
    color: #da4ea2;
}

#description {
    font-size: 24px;
    color: lightgrey;
}

@media only screen and (max-width: 768px) {
    #description, #subtitle {
        padding: 20px;
        text-align: center;
    }
}

#learn-more {
    background-color: #da4ea2;
    color: white;
    font-weight: 500;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#right-hero {
    flex: 3;
    position: relative;
}

@media only screen and (max-width: 768px) {
    #left-here, 
    #right-hero {
        flex: 1;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    #right-hero {
        width: 100%;
    }
}

#moon {
    width: 800px;
    height: 600px;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: animate 2s infinite ease alternate;
}

@keyframes animate {
    to {
        transform: translateY(20px);
    }
}

@media only screen and (max-width: 768px) {
    #moon {
        width: 300px;
        height: 300px;
    }
}

/* who component */

.who {
    height: var(--main-height);
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
}

.who-container {
    height: var(--main-height);
    scroll-snap-type: center;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

#left-who {
    flex: 1;
}

@media only screen and (max-width: 768px) {
    #left-who {
        display: none;
    }
}

#right-who {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

@media only screen and (max-width: 768px) {
    #right-who, #hero-title {
        align-items: center;
        text-align: center;
    }
}

#see-our-works {
    background-color: #da4ea2;
    color: white;
    font-weight: 750;
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* works component */

.works {
    display: flex;
    justify-content: center;
}

.works-container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

#left-works {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-works {
    flex: 1;
}

#works-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.work-item {
    font-size: 90px;
    font-weight: bold;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px white;
    position: relative;
    white-space: nowrap;
}

/* when using position absolute the parent should always have position relative */
.work-item::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.work-item:hover::after {
    color: blue;
    animation: moveText 0.5s linear both;
}

@keyframes moveText {
    to {
        width: 100%;
    }
}

/* contacts component */

.contacts-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


#left-contacts {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
    #left-contacts {
        justify-content: center;
    }
}

#right-contacts {
    flex: 1;
}

@media only screen and (max-width: 768px) {
    #right-contacts {
        display: none;
    }
}

#title-contacts {
    font-weight: 200;
}

#form-contacts {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media only screen and (max-width: 768px) {
    #form-contacts {
        width: 300px;
    }
}

.input-contacts {
    padding: 20px;
    background-color: #e8e6e6;
    border: none;
    border-radius: 5px;
}

#textarea {
    padding: 20px;
    background-color: #e8e6e6;
    border: none;
    border-radius: 5px;
}

#button-contacts {
    background-color: #da4ea2;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
}

#test {
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
}